<section class="experience">
    <div class="container py-5">
        <h1><strong>Experiencia</strong></h1>
        <div class="card mb-3 mt-5">
            <div class="row g-0" *ngFor="let experience of experiences">
              <div class="exp-img col-1 m-2 text-center align-self-md-center align-self-sm-start">
                <img src="{{experience.imgExp}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h5 class="card-title">{{experience.titleExp}}</h5>
                  <p class="card-text">{{experience.descriptionExp}}</p>
                  <p class="card-text"><small class="text-muted">{{experience.dateExp}}</small></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>