<section class="proyects mt-5">
    <div class="container py-5 rounded">
        <h1><strong>Proyectos</strong></h1>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
          <div class="col" *ngFor="let proyect of proyects">
            <div class="card h-100">
                <div class="col-md-12 col-sm-12 text-center">
                  <img src="{{proyect.imgPro}}" class="img-fluid" alt="...">
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="card-body">
                    <h5 class="card-title">{{proyect.titlePro}}</h5>
                    <p class="card-text">{{proyect.descriptionPro}}</p>
                    <a type="button" class="btn btn-primary" href="{{proyect.urlPro}}" target="_blank">Ir al proyecto</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
