<section class="about">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="pfp col-lg-4 col-sm-12 text-center">
                <img src="./assets/pfp.jpg" class="img-responsive rounded-circle mb-4">
                <h5>Nicolas Guerrero</h5>
            </div>
            <div class="col-lg-8 col-sm-12 text-lg-start text-center">
                <h5><strong>Full Stack Developer Jr</strong></h5>
                <!-- Sample text, change later -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker 
                    including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>
