<section class="about mt-5">
    <div class="container shadow-sm">
        <div class="row g-0">
            <div class="pfp col-lg-4 col-sm-12 text-center">
                <img src="./assets/pfp.jpg" class="img-responsive rounded-circle mb-4 border border-2">
                <h5>{{person.name}} {{person.surname}}</h5>
            </div>
            <div class="col-lg-8 col-sm-12 text-lg-start text-center">
                <h5><strong>{{person.degree}}</strong></h5>
                <!-- Sample text, change later -->
                <p>{{person.description}}</p>
            </div>
        </div>
    </div>
</section>
