<section class="proyects mt-5">
    <div class="container p-5 rounded">
        <h1><strong>Proyectos</strong></h1>
        <div class="card mb-3 mt-5">
            <div class="row g-0 my-3">
                <div class="col-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/UNLP_Logo_%28cropped%29.svg/1200px-UNLP_Logo_%28cropped%29.svg.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title">Proyecto: Portfolio</h5>
                      <p class="card-text">Esta es la descripcion de lo que hice en todo este proyecto, el texto es responsive y esta contemplado el uso de celular</p>
                      <a type="button" class="btn btn-primary">Ir al proyecto</a>
                    </div>
                  </div>
            </div>
            <div class="row g-0 my-3">
                <div class="col-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/UNLP_Logo_%28cropped%29.svg/1200px-UNLP_Logo_%28cropped%29.svg.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title">Proyecto: Portfolio</h5>
                      <p class="card-text">Esta es la descripcion de lo que hice en todo este proyecto, el texto es responsive y esta contemplado el uso de celular</p>
                      <a type="button" class="btn btn-primary">Ir al proyecto</a>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</section>
