h1{
    color:var(--bs-primary);
    text-align: center;
}

.skill{
    height: 200px;
    width: 200px;
}

p,h5{
    color:var(--bs-primary);
}

.language{
    width: 120px;
}

section{
    background-color: #ffffff;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 32.5px 32.5px, linear-gradient(#4550e6 2.6px, transparent 2.6px) 0 -1.3px, linear-gradient(90deg, #4550e6 2.6px, #ffffff 2.6px) -1.3px 0;
    background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
}

.container{
    background-color: #ffffff;
}
