<section class="skills p-3 mt-5">
  <div class="container rounded shadow p-3">
    <h1 class="my-5"><strong>Hard & Soft Skills</strong></h1>
    <div class="row g-0 justify-content-center text-center">
      <div class="skill col-3" *ngFor="let skill of skills">
        <app-circle-progress 
          [percentage]="skill.percentage" 
          [imgUrl]="skill.imgSkill">
        </app-circle-progress>
        <p>{{skill.titleSkill}}</p>
      </div>
    </div>
    <div class="row g-0 justify-content-center text-center mt-5">
      <div class="align-self-center">
        <h5><strong>Idiomas</strong></h5>
      </div>
      <div class="language" *ngFor="let language of languages">
        <app-circle-progress 
          [percentage]="language.percentage" 
          [imgUrl]="language.imgSkill">
        </app-circle-progress>
        <p>{{language.titleSkill}}</p>
      </div>
    </div>
</div>
</section>
