<section class="experience">
    <div class="container p-5 rounded bg-light">
        <h1><strong>Experiencia</strong></h1>
        <div class="card mb-3 mt-5">
            <div class="row g-0">
              <div class="exp-img col-1 m-2 text-center align-self-md-center align-self-sm-start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/UNLP_Logo_%28cropped%29.svg/1200px-UNLP_Logo_%28cropped%29.svg.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h5 class="card-title">Titulo experiencia</h5>
                  <p class="card-text">Esta es la descripcion de lo que hice en toda esta experiencia, el texto es responsive y esta contemplado el uso de celular</p>
                  <p class="card-text"><small class="text-muted">2019-2022</small></p>
                </div>
              </div>
              <div class="exp-img col-1 m-2 text-center align-self-md-center align-self-sm-start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/UNLP_Logo_%28cropped%29.svg/1200px-UNLP_Logo_%28cropped%29.svg.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h5 class="card-title">Titulo experiencia</h5>
                  <p class="card-text">Esta es la descripcion de lo que hice en toda esta experiencia, el texto es responsive y esta contemplado el uso de celular</p>
                  <p class="card-text"><small class="text-muted">2015-2019</small></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>